body {
    background-color: #EEE;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    text-align: center;
}

header {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid gray;
    font-family: 'Press Start 2P', cursive;
    line-height: 3.2em;
    font-size: 2.2em;
    color: gray;
}

footer {
    background-color: dimgray;
    border-top: 5px solid gray;
    width: 100%;
    height: 15em;
    margin-top: 5em;
    color: whitesmoke;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

table, tr {
    padding: 1em;
    width: 90%;
}

td {
    width: 3em;
}

h2 {
    color: midnightblue;
    text-align: left;
    padding-left: 1em;
}

a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: cornflowerblue;
}

.cabecera {
    width: 100%;
    height: auto;
}

.destacados {
    margin: .5em;
    padding: .5em;
    display: inline-flex;
    flex-direction: column;
    width: 22%;
    height: auto;
    text-align: left;
    border: .5px solid gainsboro;
}

.ranking {
    border-left: 5px solid cornflowerblue;
    margin: 0 auto;
    padding: 1em;
    background-color: aliceblue;
}

.externo {
    position: fixed;
    top: 75px;
}

.instagram {
    width: 100px;
    height: 100px;
}

.personajes:hover {
    opacity: .6;
}

/*Dispositivos Tablet*/
@media (max-width: 1024px) {
    footer {
        height: 10em;
    }
    .destacados {
        width: 44%;
    }
    .instagram {
        width: 75px;
        height: 75px;
    }
}

/*Dispositivos Moviles*/
@media (max-width: 768px) {
    footer {
        height: 5em;
    }
}