* {
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background: #ecf0f1;
	font-family: sans-serif;
	margin: 0 auto;
	font-size: 1rem;
}
#wrapper{
	max-width:1200px;
	margin: 0 auto;
}

#banner-wrapper	{
	max-width:1200px;
	margin: 0 auto;
	padding: 0 0 3% 0;
}
header {
	background: green;
	--position: fixed;
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
}
header #logo img{
	margin: 20px;
	float: left;
	width: 50px;
}
a{
	color: orange;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: rgb(255, 102, 0);
}
img{
	display: block;
	margin: 0 auto;
	max-width: 50%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
nav {
	float: right;
	padding: 25px 20px 0px 0px;
}
#menu-icon{
	display: none;
	font-size: 50px;
}
ul{
	list-style:none;
}
nav ul li{
	font-size: 1.2rem;
	display: inline-block;
	float: left;
	padding: 10px;
}
nav ul li a{
	color: white;
}
.current{
	color: #c1c1c1;
}
.one-third{
	width: 30.5%;
	float: left;
	padding: 10px;
	text-align: center;
}
.icon-wrap{
	margin: 0 auto;
	width: 120px;
	height: 120px;
	background-color: #6991ac;
	border-radius: 125px;
	text-align: center;
	margin-top: 3%;
}
.icon-wrap{
	text-align: center;
	color: #ffffff;
	font-size: 450%;
	padding: 20%;
}
.left-col{
	float: left;
	margin: 0 auto;
	width: 60%;
	height: auto;
	padding: 1%;
}
.sidebar{
	float: right;
	margin: 0 auto;
	width: 32%;
	height: auto;
	padding: 1%;
}
.one-third-padding{
	width: 29%;
	float: left;
	margin: 0% 0%;
}
.clearfix-padding{
	clear: both;
	padding: 2%;
}
footer{
	background: #2c3e50;
	width: 100%;
	overflow: auto;
}
.icon-text-icon{
	float: left;
	width: 20%;
	padding: 4%;
}
.icon-text-text{
	float: left;
	width:60%;
	padding: 4% 4% 2% 0;
}
.footer-nav{
	text-align: right;
}
.footer-nav a{
	font-size: 160%;
	color: #c3d7df;
	font-weight: 300;
}
.footer-nab a:hover{
	color: #f5f5f5;
}
.social li{
	display: inline;
}
.social i{
	font-size: 420%;
	margin: 0%;
	padding: 5%;
	color: #c3d7df;
}
.social i:hover{
	color: #f5f5f5;
}
footer.second{
	border-top: 1px solid #aadcd2;
	text-align: center;
	margin: 0;
}
footer.second p, .second a{
	text-align: center;
	color: #fff;
	font-size: 160%;
	line-height: 155%;
}
p {
	color: #524c56;
	font-size: 1rem;
	line-height: 155%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
h3{
	font-size: 2rem;
	line-height: 130%;
	font-weight: 600;
	color: #343434;
	text-align: center;
	text-transform: uppercase;
	padding: 0;

}
.text-center{
	text-align: center;
}
.w-full{
	width:100%;
}
.mt-20{
	margin-top:20px;
}
.mt-40{
	margin-top:40px;
}
.mt-100{
	margin-top:100px;
}
.mb-40{
	margin-bottom:40px;
}
.table{
	width: 100%;
    padding: 20px;
    color: #212529;
    vertical-align: top;
	border:1px solid #dee2e6
}
/* Asigna un padding a los td de la tabla */
.table > :not(caption) > * > * {
	padding: 0.3rem 0.3rem;
	border-bottom-width: 1px;
}

/* Permite seleccionar uno o mas elementos de un tipo y asignar una clase en particular, en este caso se pintan de color gris fila por medio para visualizar de mejor manera los datos. */
.table-striped > tbody > tr:nth-of-type(odd) > * {
	background-color: #d6d6d6;
	color: 212529;
}
tbody{
	text-align: center;
}
#tablaContaminacionDioxido h3{
	color: green;
}
#tablaContaminacionOceanos h3{
	color: blue;
}
.iframe-video{
	margin-top:40px;
	width: 100%;
	min-height: 500px;
}
/* Adaptamos la imagen al 100% del ancho del contenedor */
.img-w-f{
	width:100%;
}
@media only screen and (max-width: 725px) {
	/* adaptamos la altura del iframe en modo responsive */
	.iframe-video{
		min-height: 250px;
	}
	/*Se modifica el alto del header */
	#headerCuidemosElPlaneta {
		min-height: 220px;
	}
	#headerCalendarioMundial {
		min-height: 90px;
	}
	
	/* se ajusta el tamaño de las fuentes y se alinean a la derecha */
	
	nav ul li{
		font-size: 1rem;
		display: inline-block;
		float: left;
		padding: 10px;
		text-align: right;
	}

	.one-third, .one-third-padding, .left-col{
		width: 100%;
		padding: 10px;
		text-align: center;
		
	}

	/* ajustamos los tamaños para que se vean acorde al formato */
	.icon-wrap{
		width: 90px;
		height: 90px;
		background-color: #484848;
		border-radius: 200px;
		text-align: center;
		margin-top: 3%;
	}

	/* Se ajustan los tamaños de H3 */
	h3{
		font-size: 1.2rem;
		line-height: 155%;
		font-weight: 500;
		color: #524c56;
		text-align: center;
		text-transform: uppercase;
		padding: 0;
	}

	/* Se ajusta las fuentes para mejor presentacion*/
	p {
		font-size: 1rem;
		line-height: 110%;
		padding: 5%;
		text-indent: 2%;
		text-align: justify;
	}


	/* Se define el ancho al 100% */
	.sidebar{
		width: 100%;
	}
	/* Ajustamos el tamaño de los iconos */
	.icon-text-text{
		float: left;
		width:50%;
		font-size: 0.3rem;
		padding: 5px;
	}

	.footer-nav{
		text-align: left;
	}
}
